<!-- your html code here -->
<div class="row">
    <div class="m-5 p-5">
        <h2>Contact</h2>
        <br />
        <p>Donec ullamcorper nulla metus auctor fringilla.
            Vestibulum id ligula porta felis euismod semper.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur.
            Fusce dapibus, tellus ac cursus commodo.
        </p>

        <div class="">
            <form class="grayBackgroundColor">
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Your Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                </div>
                <div class="form-group row">
                    <label for="message" class="col-sm-2 col-form-label">Your Message</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="message" rows="4" cols="50"></textarea>
                    </div>

                </div>
                <div class="d-flex flex-row-reverse">
                    <button type="submit" class=" btn btn-primary p-2 bd-highlight">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>