<div class="container">
  <div class="row">
    <div class="col-8" id="text">
    <p> The First Heading Will Catch Your Eye </p>
    <p> Donec Ullamcoper nulla non metus auctor fringilla. Vestibulum id iguala porta fellis euismod semper. Praesent commodo cursus magna, vel scelerique nisl consectur. Fusce dapibus, tellus ac cursuscommodo.  </p>
    </div>

    <div class="col-4">
  <img id="WW" src="https://crimson-hornet-b3umsgtj.ws-us03.gitpod.io/files/download/?id=9efbef19-d813-455f-ba3f-dad5c0a3cdef" />
<div class="d-flex justify-content-center">...</div>
</div>
 
  </div>
</div>