<div class="container pt-5 ">
    <div class="row">
        <div class="col-8" id="text">
            <div class="SecondHeader">
                <h1>
                    <p class="text-dark"> The First Heading </p>
                    <p class="text-secondary"> Will Catch Your Eye </p>
                </h1>
            </div>
            <p> Donec Ullamcoper nulla non metus auctor fringilla. Vestibulum id iguala porta fellis euismod semper.
                Praesent commodo cursus magna, vel scelerique nisl consectur. Fusce dapibus, tellus ac cursuscommodo.
            </p>
        </div>

        <div class="col-3">
            <img class="imagenes" src="./assets/img/1.jpg" />
            <div class="d-flex justify-content-center"></div>
        </div>

    </div>
</div>