<div class="container">
  <div class="row">
    <div class="col-8" id="text">
   <h1 class="heading"> 
        <p id="texto-negro"> The First Heading </p>     
       <p id= "texto-gris"> Will Catch Your Eye </p>
</h1>
    <p> Donec Ullamcoper nulla non metus auctor fringilla. Vestibulum id iguala porta fellis euismod semper. Praesent commodo cursus magna, vel scelerique nisl consectur. Fusce dapibus, tellus ac cursuscommodo.  </p>
    </div>

    <div class="col-4">
  <img id="WW" src="./assets/img/1.jpg"/>
<div class="d-flex justify-content-center">...</div>
</div>
 
  </div>
</div>