<!-- your html code here -->
<div class="container">
    <div class="row">

        <div class="col-3">
            <img src="./assets/img/2.jpg" class="rounded-circle rounded float-right" alt="Cinque Terre" width="250"
                height="250">
        </div>
        <div class="col-8">
            <div id=SecondHeader>
                <h1 class="d-inline">
                    <p class="text-dark">The Second Heading</p>
                    <p class="text-secondary">Is Pretty Cool Too.</p>
                </h1>
            </div>
            <p class="Segoe UI">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur Fusce dapibus, tellus ac
                cursus commodo.
            </p>
        </div>

    </div>
</div>